/* Search bar */

.sticky-search-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-finder-result {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em;
  width: 100%;
}

.result-student-data {
  background-color: #ffffff;
  color: #000000;
  width: 80%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem 1rem 0 0;
  justify-self: center;
  margin: auto;
}

.student-data-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.student-data-username {
  font-size: 2rem;
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-optical-sizing: auto;
}

.student-data-phone-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}

.student-data-email a {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.6em;
  list-style: none;
  color: #000000;
  text-decoration: none;
}

.student-data-phone a {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.6em;
  color: #000000;
  text-decoration: none;
}

label {
  font-weight: lighter;
  font-size: 1.2rem;
}

.room-data-holding-space {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  padding: 1rem;
  background-color: #ededed;
}

.room-data-member-card {
  cursor: pointer;
  background-color: #ffffff;
  margin: 0.3rem 0;
  padding: 1rem;
  color: #000000;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.room-data-member-name {
  font-size: 1.2rem;
  font-weight: lighter;
}

.room-data-member-username {
  font-size: 1rem;
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-optical-sizing: auto;
}

@media only screen and (max-width: 600px) {
  .student-finder-result {
    margin: 0;
  }

  .student-data-name {
    font-size: 1rem;
  }

  .student-data-username {
    font-size: 1.2rem;
  }

  .student-data-phone-email {
    display: grid;
    grid-template-columns: 1fr;
  }

  .student-data-email a {
    font-size: 1em;
  }

  .student-data-phone a {
    font-size: 1em;
  }

  label {
    font-weight: lighter;
    font-size: 0.8rem;
  }

  .room-data-holding-space {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .room-data-member-name {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .room-data-member-username {
    font-size: 1rem;
    font-weight: lighter;
  }
}

.search {
  background: #fff;
  padding: 12px 16px 12px 48px;
  position: relative;
  display: table;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 90%;
  transition:
    background 0.1s ease,
    transform 0.1s ease,
    padding 0.5s ease 0.1s;
}
.search .bar {
  position: absolute;
  left: 16px;
  top: 15px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.search .bar span {
  display: block;
  color: #fff;
  position: absolute;
  left: 12px;
  top: 0;
  line-height: 32px;
  font-weight: 500;
  font-size: 16px;
  opacity: 0;
  right: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.search .bar:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 16px;
  border-radius: 16px 0 0 16px;
  background: #5628ee;
  opacity: 0;
}
.search .bar .icon {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  background: #5628ee;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: scale(0.8);
  transition:
    transform 0.4s ease 0s,
    background 0.1s ease;
}
.search .bar .icon:before,
.search .bar .icon:after {
  content: '';
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}
.search .bar .icon:before {
  background: #fff;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 2;
  transform: rotateY(0deg);
  transition: background 0.1s ease;
}
.search .bar .icon:after {
  background: #5628ee;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
  transition: background 0.1s ease;
}
.search .bar .icon i {
  left: 75%;
  top: 84%;
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.search .bar .icon i:before {
  content: '';
  width: 4px;
  height: 16px;
  border-radius: 2px;
  background: #5628ee;
  display: block;
  transform-origin: 50% 0;
  transition:
    transform 0.4s ease 0s,
    background 0.1s ease;
}
.search form {
  display: block;
  padding: 0;
  margin: 0;
}
.search form input,
.search form span {
  white-space: pre;
  font-size: 16px;
  font-family: inherit;
  padding: 8px 16px 8px 12px;
  display: block;
  line-height: 22px;
  font-weight: 500;
  width: 100%;
}
.search form input {
  color: #8c6ff0;
  caret-color: #8c6ff0;
  border: 0;
  background: 0;
  outline: none;
  transition: color 0.1s ease;
}
.search form span {
  display: none;
}
.search .close {
  border-radius: 50%;
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  background: #e4ecfa;
  top: 19px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translate(-8px, 0);
  transition:
    transform 0.3s ease 0s,
    opacity 0.3s ease 0s,
    visibility 0.3s ease 0s;
}
.search .close:before,
.search .close:after {
  content: '';
  position: absolute;
  width: 2px;
  border-radius: 1px;
  height: 10px;
  background: #6c7486;
  display: block;
  left: 50%;
  top: 50%;
  transition: background 0.3s ease;
}
.search .close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.search .close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.search ul {
  overflow: hidden;
  margin: 0;
  padding: 8px 0 24px 0;
  list-style: none;
  position: absolute;
  left: 16px;
  top: 62px;
  white-space: nowrap;
}
.search ul.show li {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.search ul.show li:nth-child(1) {
  transition-delay: 0s;
}
.search ul.show li:nth-child(2) {
  transition-delay: 0.3s;
}
.search ul li {
  margin: 0 0 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translate(0, -6px);
}
.search ul li:last-child {
  margin-bottom: 0;
}
.search ul li a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding-left: 36px;
  padding-right: 24px;
  position: relative;
}
.search ul li a img {
  display: block;
  left: 0;
  width: 20px;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
}
.search ul li a img.queble {
  width: 24px;
}
.search ul li a h5 {
  margin: 0;
  color: #151924;
  font-size: 12px;
}
.search ul li a p {
  margin: 4px 0;
  color: #6c7486;
}
.search ul li a span {
  display: block;
  font-size: 10px;
  color: #6c7486;
  opacity: 0.6;
  font-style: italic;
}
.search ul li:nth-child(1) {
  transition-delay: 0.3s;
}
.search ul li:nth-child(2) {
  transition-delay: 0s;
}
.search ul li:hover {
  transition: transform 0.3s ease 0s;
  transform: translate(0, -2px);
}
.search.submit {
  background: #5628ee;
  transform: scale(0.92);
}
.search.submit .bar .icon {
  background: #fff;
}
.search.submit .bar .icon:before {
  background: #5628ee;
}
.search.submit .bar .icon:after {
  background: #fff;
}
.search.submit .bar .icon i:before {
  background: #fff;
}
.search.submit form input {
  color: #fff;
}
.search.prepare .bar:before {
  opacity: 1;
  transition: opacity 0s ease 1.25s;
}
.search.prepare .bar .icon {
  transform: scale(1);
  transform-origin: 50% 50% 0;
  transition:
    transform 0.4s ease 0.85s,
    transform-origin 0s ease 1.25s,
    background 0.1s ease;
}
.search.prepare .bar .icon i:before {
  transform: scaleY(0);
  transition:
    transform 0.4s ease 0.4s,
    background 0.1s ease;
}
.search.animate .bar .icon {
  transform: rotateY(75deg);
  transition: transform 0.6s ease 0s;
}
.search.animate .bar span {
  opacity: 1;
}
.search.done {
  padding-right: 56px;
  transition: padding 0.4s ease;
}
.search.done .bar .icon {
  transform: rotateY(180deg);
  transition: transform 0.7s ease 0s;
}
.search.done .close {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition:
    transform 0.4s ease 0.5s,
    opacity 0.4s ease 0.5s,
    visibility 0.4s ease 0.5s;
}
.search.done .close:hover {
  background: #8c6ff0;
  transition: background 0.3s ease;
}
.search.done .close:hover:before,
.search.done .close:hover:after {
  background: #fff;
}
.search.reset .bar:before {
  opacity: 0;
  transition: opacity 0s ease 0.4s;
}
.search.reset .bar .icon {
  transform: rotateY(0deg);
  transition: transform 0.4s ease 0s;
}

em {
  color: #6c7486;
  font-size: 12px;
  margin: 24px 0 0 0;
  display: block;
  text-align: center;
  font-style: italic;
}
em strong {
  font-weight: bold;
}
