.complaint-review-container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
}

.complaint-review-heading {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin: 2rem 0;
  display: block;
  text-align: center;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin: 10px;
  padding: 20px;
  width: calc(50% - 20px);
  max-width: 500px;
  text-align: left;
  position: relative;
  transition: transform 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
}

.checkbox,
.delete-icon {
  cursor: pointer;
}

.checkbox input[type='checkbox'] {
  accent-color: #4caf50;
}

.delete-icon {
  color: #ff6347;
  transition: color 0.3s;
}

.delete-icon:hover {
  color: #ff4500;
}
