.room-allocation-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.action-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-bar-selected-students {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.action-bar-student-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #ededed;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.action-bar-student-username {
  font-size: 1.2rem;
  font-weight: bold;
}

.action-bar-student-name {
  font-size: 1rem;
  font-weight: lighter;
}

.action-bar-selected-room {
  width: 90%;
  height: 90%;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.action-bar-arrow-icon {
  font-size: 2rem;
  color: #455eb5;
}

.room-card-custom-id {
  font-size: 1.6rem;
  font-weight: bold;
}

.action-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #455eb5;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 2.5em;
  cursor: pointer;
  transition-duration: 0.1s;
}

.action-bar-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .action-bar-button {
    padding: 0 2.6rem;
  }
}
