:root {
  --student-card-height: 4em;
  --student-card-width: 15em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.room-allocation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1d2125;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  padding: 2rem;
  bottom: 0;
}

.room-allocation-column-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.room-allocation-column-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #00000026;
  border-radius: 1rem;
}

.room-allocation-column-heading {
  color: #b6c2cf;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  text-transform: uppercase;
}

.student-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000026;
  border-radius: 1rem;
  margin: 0.3rem 0;
  padding: 1rem;
  color: #b6c2cf;
  width: var(--student-card-width);
  height: var(--student-card-height);
}

.room-holder-card {
  text-align: center;
  width: max-content;
  background-color: #00000026;
  border-radius: 1rem;
  margin: 0.2rem 0;
  padding: 1rem;
}

.room-holder-card-title {
  color: #b6c2cf;
}

.student-holding-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--student-card-width);
  height: var(--student-card-height);
  border-radius: 1rem;
  margin: 1rem 0;
  background-color: #9e9e9ed0;
}
