:root {
  --width-small: 75px;
  --width-medium: 150px;
  --width-large: 200px;
}

.allotment-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.allotment-column-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 1rem;
}

.allotment-holder-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
  margin: 0.5rem 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.allotment-holder-card-header {
  width: 100%;
}

.allotment-holder-card-title {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin: 1rem 0;
}

.allotment-order-confirm-button {
  width: calc(100% - 24px);
  margin: 1em;
  padding: 12px;
  border: none;
  border-radius: 1rem; /* Consistent rounded design */
  background: #5628ee;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.applicants-holding-space {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: #ededed;
  width: 100%;
  min-height: calc((var(--student-card-height)) * 4 * 1.25);
}

.holding-space-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ededed;
  box-shadow:
    rgb(237, 237, 237) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-sizing: border-box;
  padding: 5px;
}

.holding-space-header h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.holding-space-header-small {
  width: var(--width-small);
}

.holding-space-header-medium {
  width: var(--width-medium);
}

.holding-space-header-large {
  width: var(--width-large);
}

.seat-category input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
